footer
	position relative
	padding 30px
	height auto
	width 100%
	opacity 1
	transform translateY(0px)
	z-index 97
	text-align center
	+below(480px)
		text-align left
		background $darkgrey
		.touchMe
			padding 20px 10px
		.socialList
			padding 0
			.item
				.link
					margin 10px
					i
						color $white
	.touchMe
		position relative
		display: block
		padding 20px
		Caption()
		font-weight 200
		color $black
		&::before
			content ''
			position absolute
			vCenter()
			left 10%
			width 30%
			height 1px
			background $smoggrey
		&::after
			content ''
			position: absolute
			vCenter()
			right 10%
			width 30%
			height 1px
			background: $smoggrey
	.socialList
		display block
		position relative
		padding 40px
		.item
			position: relative
			display inline-block
			text-align center
			vertical-align middle
			margin 0px 30px
			.link
				display block
				padding-top 15px
				width 50px
				height 50px
				i
					font-size 1.3rem
					color $grey
					transition color 0.17s linear 0s
				img
					width 100%
					height auto
			.linkcodepen:hover
				i
					color black
			.linkdribbble:hover 
				i
					color #ea4c89
			.linkemail:hover 
				i
					color #4480D6
			.linkfacebook:hover 
				i
					color #3C5A99