
//- Source link
script(src='/lib/script/jquery.js')
script(src='/lib/script/easing.js')
script(src='/lib/script/modernizr.js')
script(src='/lib/script/anims.js')
script(src='/lib/script/parallax-scroll.js')
script(src='/lib/script/lazyload.js')

link(rel='stylesheet', href='/lib/css/resize.css')
link(rel="stylesheet", href="/lib/css/font.css")
link(rel="stylesheet", href="css/main.css")
